/* style for form.html */

#form-content{

	font-size: 22px;
	height: 940px;
	border: 1px solid lightgrey;
	

}



#form-content fieldset{

	width: 800px;

	padding-top: 5px;

}



#form-content label {

	width: 270px;

	float: left;

	padding-left: 50px;

}

	

#form-content ol {list-style: none;}



#form-content li { padding: 10px;}	


#form-content h2{
	text-align: center;
}


#button{

	width: 450px;

}

#submit{

	width: 120px;

	height: 40px;

	float: right;

}

/* style for Sign_In.php and ServiceAuth.php */

#Left_column ol {list-style: none;}



#Left_column li { padding: 10px;}

#Left_column h5{
	text-align: center;
}

#Left_column{

	margin: 5px;
	width: 500px;
	float: left;
	border: 1px solid lightgrey;
	height: 300px;
	background-color: white;
	font-size: 22px;

}


#Right_column{

	margin-top: 5px;
	margin-right: 2px;
	padding-top: 50px;
	padding-left: 10px;
	width: 420px;
	float: left;
	border: 1px solid lightgrey;
	font-size: 22px;
	height: 250px;
	background-color: white;


}

#Right_column p{
	padding-left: 25px;	
	
}
#Right_column a{
	color: blue;
}

#Right_column a:hover{
	color: red;
}
#Left_column label{

	width: 150px;

	float: left;
	background-color: white;


}



#log_in{

	width: 120px;

	height: 40px;

	margin-left: 140px;

		

}

/* style for alert span on ServiceAuth.php */
#alert{
	font-size: small;
	color: red;
	border: 1px solid grey;
	border-radius:25px;
	padding: 3px;
	
	

}

/*

option{

	width: 70px;

	height: 20px;

}



*/

