[submodule "ayrault"]
	path = ayrault
	url = git@github.com:trisys3/Ayrault.git
[submodule "njhitec"]
	path = njhitec
	url = git@github.com:Lusitanian12/NJ_HITEC.git
[submodule "angular-phonecat"]
	path = angular-phonecat
	url = git@github.com:angular/angular-phonecat.git
[submodule "konneka"]
	path = konneka
	url = git@github.com:trisys3/konneka.git
