@model IEnumerable<ItemDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Inventory
</h2>

@(Html.Kendo().Grid(Model)
    .Name("Items")
    .ToolBar(bar => bar.Create())
    .Columns(col =>
    {
        col.Bound(x => x.Name);
        col.Bound(x => x.Price);
        col.Bound(x => x.QuantityAvailable);
        col.Command(cmd =>
        {
            cmd.Edit();
            cmd.Destroy();
        });
    })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(x => x.ID))
            .Create(c => c.Action("Create", "Item"))
            .Read(r => r.Action("Read", "Item"))
            .Update(u => u.Action("Update", "Item"))
            .Destroy(d => d.Action("Destroy", "Item"));
    })
    .Editable(edit =>edit.Mode(GridEditMode.PopUp))
)
