
.defaultFont {
  font-family: "Helvetica", "Arial", sans-serif;
}
body {
  background: url(http://www.njhitec.org/themes/njhitec/img/background.png);
  margin: 0;
  padding: 0;
}
a{
text-decoration:none;
}
a:hover{
text-decoration:underline;
}

.bx-wrapper img{
border:0;
}
.wrapper {
  background: #fff;
  margin: 0 auto;
  width: 960px;
}

#logo {
  float: left;
}
#logo a img {
  border: 0;
}
#cisco {
  float: right;
}
#cisco a img {
  border: 0;
}
#search {
  float: right;
  margin: 22px 20px 0 0;
}
#search form {
  width: 230px;
  height: 32px;
  background: url(http://www.njhitec.org/themes/njhitec/img/search.png) center center no-repeat;
}
#search input {
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  padding: 8px 0 7px 30px;
  width: 210px;
  outline: none;
}
.cisco {
  color: #ee3524;
  text-decoration: none;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  float: right;
  margin-top: 5px;
  padding-left: 15px;
}
.cisco:hover {
  text-decoration: underline;
}
.linktop {
  color: #ee3524;
  text-decoration: none;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  float: right;
  margin-top: 5px;
}
.linktop:hover {
  text-decoration: underline;
}
.portal {
  color: #ee3524;
  text-decoration: none;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  float: right;
  margin-top: 5px;
  background: url(http://www.njhitec.org/themes/njhitec/img/user.png) left center no-repeat;
  padding-left: 15px;
}
.portal:hover {
  text-decoration: underline;
}
a {
text-decoration: none;
color: #848484;
font-family: arial, helvetica, sans-serif;
}
a:hover {
text-decoration: underline;
color:#ee3524;
}
nav#primaryNav {
  height: 49px;
  margin-left: auto;
  margin-right: auto;
  background: #2d2d2d;
  overflow: hidden;
}
#primaryNav ul {
  margin: 0;
  padding: 0;
  margin-top:-10px;
}
#primaryNav li {
  list-style: none;
  /*	float: left;*/

  display: inline-block;
  margin-right: 3px;
  margin-top: 15px;
}
#primaryNav a {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  margin-right: -6px;
  text-decoration: none;
  }
#primaryNav a:hover {
  text-decoration: underline;
  color:#ee3524;
}
.nav a{
color:#fff;
}
#contactHead {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  font-weight: bold;
  }
.contactHead {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  font-weight: bold;
  }
#hero {
  height: 380px;
}
.nav-path-selected a{
color: red;
}
.main-content {
  padding: 30px 0;
}
.main-content a {
  color: #ee3524;
  text-decoration: none;
}
.main-content a:hover {
  text-decoration: underline;
  color: #ee3524;
}


footer {
  background: #2d2d2d url(http://www.njhitec.org/themes/njhitec/img/footer-logos.png) right 30px no-repeat;
  color: #fff;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  padding: 30px 20px;
  font-weight: 300;
}
footer strong {
  display: block;
  font-weight: 700;
}
footer a {
  text-decoration: none;
  color:green;
}
footer a:hover {
  text-decoration: underline;
}
#contactInfo {
  margin: 10px 0;
  clear: both;
}
#footerLinks {
  float: left;
}
#footerLinks ul {
  margin: 0;
  padding: 0;
}
#footerLinks li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
span.copyright {
  display: block;
  text-align: right;
  color: #ccc;
  padding-top: 5px;
  clear: both;
}
#social {
  margin: 5px 0;
  padding: 0;
}
#social li {
  list-style: none;
  float: left;
  width: 20px;
  height: 19px;
  margin-right: 3px;
  background-repeat: no-repeat;
  opacity: .6;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#social li:hover {
  opacity: 1;
}
#social li a {
  display: block;
  text-indent: -99999em;
}
li.facebook {
  background: url(http://www.njhitec.org/themes/njhitec/img/facebook.png);
}


li.linkedin {
  background: url(http://www.njhitec.org/themes/njhitec/img/linkedin.png);
}
.cf {
  clear: both;
}
.backlink {
  display: none;
}
.event_cal .cal_day a,
.event_cal div.normal {
  line-height: 10px;
}
li.twitter {
  background: url(http://www.njhitec.org/themes/njhitec/img/twitter.png);
}
.button_black {
    width:83%;
	margin-bottom:20px;
	margin-left:10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:2.0em;
	font-weight:bold;
	padding:30px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button_black:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.bx-window{
height:379px;
}
#timerTitle {
    font-family: Arial;
    font-size: 20px;
    color: #FFFFFF;
    padding: 3px;
}